body {
  background-color: var(--white);
  color: var(--black);
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  text-align: center;
  /* height: 100vh; */
  max-height: 1000px;

  height: var(--app-height);
}

.App-iOS {
  height: -webkit-fill-available;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hint {
  font-size: 1.5rem;
  margin-top: 12px;
  margin: 24px 0px;
  margin-top: 12px;
  padding: 0 12px;
  margin-bottom: 20px;
}

.bar {
  min-width: 0 !important;
}

.message {
  margin-top: 12px;
  color: white;
  position: fixed;
  bottom: 0px;
  margin-bottom: 205px;
  height: 50px;
  width: fit-content;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.slide-top {
  -webkit-animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-21 15:48:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
  }
  100% {
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
  }
  100% {
    -webkit-transform: translateY(90px);
    transform: translateY(90px);
  }
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.bigMessage {
  font-size: larger;
  margin-bottom: 24px;
}

.resultsScore {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 24px;
}

.resultsTime {
  font-size: larger;
  margin-bottom: 24px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  height: 100%;
}

.menuButton {
  margin-bottom: 20px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.headerSection {
  display: flex;
  width: 50;
}

.hg-button {
  height: 60px !important;
}

body {
  padding-bottom: env(safe-area-inset-bottom);
}

.button {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.howToPlayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  letter-spacing: 0.2rem;
  width: 100%;
  padding: 0px 24px;
}

.howToPlayContainer h4:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid gray;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  letter-spacing: 0.2rem;
  width: 100%;
  padding: 0px 24px;
}

.aboutContainer h4 {
  margin-bottom: 0;
}

.aboutContainer div:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid gray;
}

.aboutRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

:root {
  --black: black;
  --white: white;
}

.hg-theme-default .hg-button {
  background-color: var(--white) !important;
  color: var(--black) !important;
}

.hg-theme-default {
  background-color: var(--keyboardBackground) !important;
}
