.tile {
  align-items: center;
  border: 2px black solid;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 70px;
  margin-right: 12px;

  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
}

.smallTile {
  height: 35px;
  width: 35px;
  font-size: 1rem;
  line-height: 1rem;
  border-width: 1px;
  margin-right: 6px;
}

.altered {
  background-color: palegoldenrod;
}

.stale {
  background-color: lightgrey;
}

.selected {
  background-color: lightblue;
}
