.tile {
  align-items: center;
  border: 2px black solid;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;

  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;
}

.not-last {
  margin-right: 12px;
}
