.tile {
  align-items: center;
  border: 2px var(--black) solid;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 70px;
  margin-right: 6px;

  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;

  cursor: pointer;
  border-radius: 10%;
}

.fiveLetterTile {
  height: 55px;
  width: 55px;
}

.smallTile {
  height: 35px;
  width: 35px;
  font-size: 1rem;
  line-height: 1rem;
  border-width: 1px;
  margin-right: 6px;
}

.altered {
  background-color: var(--alteredBackground);
}

.altered.failed {
  background-color: var(--alteredFailedBackground);
}

.stale {
  background-color: lightgrey;
}

.selected {
  background-color: var(--selectedTileBackground);
}

.attempted {
  background-color: var(--alteredBackground);
}
.completed {
  background-color: var(--completedTileBackground) !important;
}

@keyframes grow {
  0% {
    transform: scale(0.96);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

.animateTile {
  animation-name: grow;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}
